@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0!important;
  height: 100%!important;
  font-family: 'Work Sans', sans-serif!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

.logoCon img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.btnFill {
  background-color: #8ec63f;
  color: #ffffff;
  padding: 10px;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  font-size: 17px;
  outline: none!important;
  cursor: pointer;
}

.btnFill:hover {
  background-color: #689626;
}

.btnBorder {
  background-color: #ffffff;
  color: #8ec63f;
  padding: 10px;
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #8ec63f;
  font-size: 17px;
  outline: none!important;
  cursor: pointer;
}

.listCon .btnBorder {
  margin-top: 20px;
}

a .btnBorder {
  width: 100%;
}

.btnBorder:hover {
  background-color: #ecfad9;
}

.homepage {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  height: 100vh;
}

.homepage .left {
  background-color: #8ec63f;
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/images/homeBg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.homepage .right {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 200px;
}

.homepage .listCon {
  display: flex;
  flex-direction: column;
}

.listCon span {
  padding-top: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.listCon h1 {
  margin: 20px 0 50px;
}

.listCon h5 {
  margin-bottom: 20px;
}

.right .listCon span {
  color: #333333;
}

.login {
  text-align: center;
}

.login h2 {
  margin: 20px 0;
}

.loginForm {
  width: 500px;
  text-align: left;
}

.loginForm input {
  min-height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8ec63f;
  outline: none;
}

.registerForm input:hover, .loginForm input:hover {
  border-bottom: 2px solid #689626;
}

.inputCon {
  display: flex;
  flex-direction: column;
  background-color: #ecfad9;
  border-radius: 4px;
  margin: 15px 0;
  padding: 8px;
}

.loginForm .btnBorder {
  width: 100%;
}

label {
  font-size: small;
}

.login .links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login .links a {
  color: #689626;
  font-weight: 400;
  text-decoration: none;
}

.login .links a:hover {
  color: #8ec63f;
}

.modal-content {
  top: 100px;
}

.modal-body {
  text-align: center;
}

.modal-body h4 {
  margin: 30px 0 20px;
}

.modalLogo img {
  width: 40px;
  height: 40px;
}

.registerForm {
  text-align: left;
  margin: 0 20px;
}

.registerForm label {
  color: #689626;
}

.registerForm input {
  min-height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8ec63f;
  outline: none;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputRow input {
  width: 100%;
}

.inputRow .unique {
  margin: 0 10px;
}

.registerForm .btnFill {
  width: 100%;
  margin-bottom: 30px;
}

.home {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  padding: 0 200px;
}

.home .left {
  width: 250px;
  position: fixed;
}

.home .left ul {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.home .left ul li {
  margin-top: 30px;
  font-weight: 600;
  font-size: 22px;
}

.home .left ul li a:hover {
  background-color: #ecfad9;
  color: #8ec63f;
  border-radius: 25px;
  padding: 15px 20px;
}

.home .left ul li a {
  color: #000000;
  text-decoration: none;
}

.home .left ul li span {
  font-size: 35px;
  margin-right: 20px;
}

.home .left .btnFill {
  margin-top: 30px;
  width: 85%;
}

.home .left img {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.home .mid {
  background-color: #ecfad9;
  width: 600px;
  border-left: 1px solid #ecfad9;
  border-right: 1px solid #ecfad9;
  margin-left: 250px;
}

.home .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ecfad9;
  background-color: #ffffff;
}

.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profileHeader svg {
  color: #689626;
  font-size: x-large;
}

.backIcon {
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.backIcon:hover {
  background-color: #f0fcde;
}

.profileHeader h6 {
  margin-bottom: 0;
}

.home .mid .header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.home .header h4 {
  font-weight: 600;
  margin-bottom: 0;
}

.homePostCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  border-bottom: 1px solid #ecfad9;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.inputCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
}

.inputCol .btnFill {
  padding: 5px 10px;
}

.homePostCon .inputCol textarea {
  font-size: 20px;
  border: none;
  outline: none!important;
  resize: none;
}

.postBtnsCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postBtnsCon .leftBtns {
  color: #8ec63f;
  font-size: 30px;
}

.postBtnsCon .leftBtns span {
  margin-right: 10px;
  cursor: pointer;
}

.postBtnsCon .leftBtns span:hover {
  color: #689626;
}

.avatarCon img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.casesAvatarCon img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.casesCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #ecfad9;
  border-top: 1px solid #ecfad9;
  cursor: pointer;
  text-align: left;
}

.casesCon:hover {
  background-color: #ecfad9;
}

.caseAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caseAuthor .author {
  font-weight: 600;
  margin-right: 10px;
}

.caseAuthor .dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #999999;
  margin-right: 10px;
}

.caseAuthor .timestamp {
  color: #999999;
}

.actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  font-size: 18px;
}

.actionBtns span {
  cursor: pointer;
  color: #999999;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionBtns span:hover {
  background-color: #cef09e;
  color: #689626;
  border-radius: 50%;
}

.mediaCon {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  align-items: center;
  margin-bottom: 8px;
  padding-right: 50px;
}

.mediaCon img {
  width: 200px;
  height: 200px;
  padding-right: 5px;
  padding-top: 5px;
}

.home .right {
  width: 400px;
  padding: 0 30px;
}

.searchCon {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  padding: 10px 0;
}

.searchCon input{
  background-color: #ecfad9;
  outline: none!important;
  border-radius: 23px;
  min-height: 30px;
  border: none;
  width: 100%;
  padding: 8px 16px;
}

.rightCardsCon {
  background-color: #f0fcde;
  border-radius: 15px;
  margin-top: 50px;
  padding: 10px 0 0;
}

.rightCardsCon .header {
  background-color: transparent;
  border-bottom: 1px solid #d2dbc5;
  padding: 5px 10px;
}

.rightCardsCon .header h5 {
  font-weight: 600;
}

.rightCardsCon .header svg {
  font-size: 20px;
  color: #689626;
  cursor: pointer;
}

.trendsCard {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d2dbc5;
  cursor: pointer;
}

.trendsCard:hover {
  background-color: #cef09e;
}

.trendIntroCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trendIntroCon svg {
  cursor: pointer;
}

.trendIntro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.trendIntro .dot {
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: #333333;
  margin: 0 5px;
}

.trendsCard p {
  margin: 0;
  font-weight: 600;
}

.trendsShowMore {
  color: #689626;
  padding: 10px;
  cursor: pointer;
}

.trendsShowMore:hover {
  background-color: #cef09e;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.suggestCard img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.suggestCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d2dbc5;
}

.suggestCard .btnBorder {
  padding: 5px 10px;
}

.suggestInfoCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.suggestInfo p {
  margin: 0;
}

.suggestInfo {
  margin-left: 10px;
}

.profile {
  background-color: #ffffff;
}

.profile .proBanner {
  height: 200px;
  background-image: url(../src/assets/images/proBg.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.profile .propicCon {
  padding-top: 80px;
}

.profile .propicCon img{
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 3px solid #cef09e;

}

.profile .bioArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -50px;
  position: relative;
  padding-top: 10px;
}

.bioArea .btnBorder {
  padding: 5px 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.profile .bioCon {
  margin-top: 50px;
  
}

.bioCon .desc, .bioCon small {
  color: #777777;
}

.bioCon .desc {
  margin-bottom: 10px;
  padding: 0 30px;
}

.bioCon p small {
  padding: 0 10px;
}

.followersCount a {
  padding: 0 20px;
  color: #777777;
}

.followersCount a:hover {
  color: #000;
}

.followersCount span {
  color: #000000;
  font-weight: 600;
}

.profile .tabs {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
}

.tabs .active {
  color: #689626;
  border-bottom: 2px solid #689626;
}

.tabs span {
  padding: 15px 40px;
  font-weight: 600;
  color: #777777;
  cursor: pointer;
  flex-grow: 1;
}

.tabs span:hover {
  background-color: #f0fcde;
  color: #689626;
}

.modal-header svg {
  color: #689626;
}

.modal-header button:hover {
  background-color: #f0fcde;
  border-radius: 50%;
  cursor: pointer;
}

.modal-header button {
  background-color: transparent;
  border: none;
}

.shareCaseModal .modal-content {
  border-radius: 15px!important;
}

.shareCaseModal .shareCaseCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.shareCaseModal .shareCaseCon img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.shareCon {
  flex-grow: 0.9;
  
}

.shareCon textarea {
  width: 100%!important;
  outline: none!important;
  border: none;
  resize: none;
  height: 100px;
  border-bottom: 1px solid #d2dbc5;
}

.shareCon .postBtnsCon button {
  padding: 5px 10px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: fit-content; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #f0fcde; /* Black background color */
  color: #689626; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
