@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0!important;
  height: 100%!important;
  font-family: 'Work Sans', sans-serif!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
}

.logoCon img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.btnFill {
  background-color: #8ec63f;
  color: #ffffff;
  padding: 10px;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  font-size: 17px;
  outline: none!important;
  cursor: pointer;
}

.btnFill:hover {
  background-color: #689626;
}

.btnBorder {
  background-color: #ffffff;
  color: #8ec63f;
  padding: 10px;
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #8ec63f;
  font-size: 17px;
  outline: none!important;
  cursor: pointer;
}

.listCon .btnBorder {
  margin-top: 20px;
}

a .btnBorder {
  width: 100%;
}

.btnBorder:hover {
  background-color: #ecfad9;
}

.homepage {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  height: 100vh;
}

.homepage .left {
  background-color: #8ec63f;
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/homeBg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.homepage .right {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 150px;
}

.homepage .listCon {
  display: flex;
  flex-direction: column;
}

.listCon span {
  padding-top: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.listCon h1 {
  margin: 20px 0 50px;
}

.listCon h5 {
  margin-bottom: 20px;
}

.right .listCon span {
  color: #333333;
}

.login {
  text-align: center;
}

.login h2 {
  margin: 20px 0;
}

.loginForm {
  width: 500px;
  text-align: left;
}

.loginForm input {
  min-height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8ec63f;
  outline: none;
}

.registerForm input:hover, .loginForm input:hover {
  border-bottom: 2px solid #689626;
}

.inputCon {
  display: flex;
  flex-direction: column;
  background-color: #ecfad9;
  border-radius: 4px;
  margin: 15px 0;
  padding: 8px;
}

.loginForm .btnBorder {
  width: 100%;
}

label {
  font-size: small;
}

.login .links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login .links a {
  color: #689626;
  font-weight: 400;
  text-decoration: none;
}

.login .links a:hover {
  color: #8ec63f;
}

.modal-content {
  top: 100px;
}

.modal-body {
  text-align: center;
}

.modal-body h4 {
  margin: 30px 0 20px;
}

.modalLogo img {
  width: 40px;
  height: 40px;
}

.registerForm {
  text-align: left;
  margin: 0 20px;
}

.registerForm label {
  color: #689626;
}

.registerForm input {
  min-height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8ec63f;
  outline: none;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputRow input {
  width: 100%;
}

.inputRow .unique {
  margin: 0 10px;
}

.registerForm .btnFill {
  width: 100%;
  margin-bottom: 30px;
}


