body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homepage .left {
  background-color: #8ec63f;
}